body {
  /* Font and background colors */
  background:url(../../assets/Guest/light.png) no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  color: white; 
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputField {
  width: 300px;
  height: 80%;
  font-size: medium;
  font-weight: bold;
  color: white;
  background-color: black;
  border-radius: 60px;
  border: 3px solid white;
  padding-left: 5%;
}
#selection{
  align-self: center;
  border: 2px solid white;
  margin-bottom: 10%;
}
#userInput{
  margin-bottom: 15px;
}

a{
  margin-top: 6%;
  margin-bottom: 5%;
  color:white;
}
.formInput{
  display: flex;
  flex-direction: row;
  align-self: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-self: center;
}

#line {
  width: 1px;
  min-height: 500px;
  background-color: white;
  align-self: center;
  opacity: 50%;
  margin-top: -8%;
}

/* #userIcon {
  font-size: 250%;
} 

#lockIcon {
  font-size: 200%;
  padding-bottom: 3%;
  padding-right: 2%;
  margin-left: 2%;
} */
label {
  margin-right: 2%;
  margin-top: 1%;
}

#box {
  position: relative;
  max-width: 1200px;
  min-width: 800px;
  min-height: 600px;
  height: 1000%;
  background: black;
  border-radius: 60px;
  display: flex;
  flex-direction: row;
  align-self: center;
}

#logo {
  background: linear-gradient(60deg,#0095FF,#00FFCC);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1200%;
  align-self: center;
}

#logoName {
  background: linear-gradient(60deg,#0095FF,#00FFCC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 600%;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align:center;
  width: 90%;
  margin-top: -1%;
  align-self: center;
}

#logoCombined {
  display: flex; 
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  text-align: center;
  align-self: center;
}

.coloredButton {
  /* Size Parameters */
  height: 33%;
  width: 8%;
  /* Color */
  background: radial-gradient(#0095FF 45%, #00FFCC 100%) ;
  color: white;
  font-size: medium;
  text-shadow: 2px;
  text-align: center;
  /* Border Parameters */
  border: 2px solid white;
  border-radius:  60px;
}

#loginButton {
  min-width: 150px;
  background: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  border-radius:  60px;
  align-self: center;
}

button {
  align-self: center;
}

/* Phone Sizes */
@media (max-width: 500px) {
  #line {
    min-height: 1px;
    width: 90%;
    margin-bottom: 10%;
    margin-top: 0%;
  }
  #selection {
    margin-bottom: 10%;
    max-width: 180px;
    max-height: 180px;
  }

#box {
    flex-direction: column;
    padding: 30px;
    min-width: 320px;
    max-width: 400px;
    min-height: 530px;
    max-height: 900px;
  }
  #logo {
    font-size: 400%;
  }

  #logoName {
    font-size: 200%;
    width: 100%;
  }
  #forgot{
    align-self: center;
  }

  .formInput{
    
  }
  
}